<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Full On 2014{{#if title}} - {{title}}{{/if}}</title>
	<meta name="description" content="St Philips Eastwood Anglican Church: Annual Youth camp - Full On" />

	<!-- google verification -->
	<meta name="google-site-verification" content="wKFgBnX8Q1GweezPYyI1NMn6wN4_cA57lWOfxcrI2J0" />

	<!-- mobile meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />

	<!-- facebook share image -->
	<link rel="image_src" href="/public/images/fb_share.jpg" />

	<link rel="shortcut icon" href="/public/images/favicon.ico" />

	<!--custom fonts-->
	<link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/public/css/build.css" />
</head>
<body>
<header>

	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<h5 class="navbar-brand fullon"><a href="/#">Full On</a></h5>
				<h6 class="navbar-brand stphils"><a href="http://stphils.org.au/">St Phils</a></h6>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">

				<div class="navbar-form navbar-right">
					<a href="/register" class="btn btn-success">Register</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/#leaderboard">Leaderboard</a></li>
					<li><a href="/#testimonials">Testimonials</a></li>
					<li><a href="/#about">About</a></li>
					<li><a href="/#media">Media</a></li>
					<li><a href="/#contact">Contact</a></li>

				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>

</header>