<div class="social">

	<div class="social_links">
		<a target="_blank" href="https://www.facebook.com/groups/334140480012169/" class="social_facebook">facebook</a>
		<a target="_blank" href="https://www.youtube.com/user/StPhilsYouth" class="social_youtube">youtube</a>
		<a target="_blank" href="https://vimeo.com/user17701935/videos" class="social_vimeo">vimeo</a>
	</div>

	<div class="fb-like" data-href="http://fullon.stphils.org.au/" data-width="320"
		 data-colorscheme="dark" data-show-faces="false" data-send="false"></div>
</div>