@import "reset.css";
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../font/BebasNeue-webfont.eot');
  src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../font/BebasNeue-webfont.woff') format('woff'), url('../font/BebasNeue-webfont.ttf') format('truetype'), url('../font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'bebas_neueregular';
  background: black;
  color: #dfdfdf;
}
body {
  width: 640px;
  margin: 0 auto;
}
@media only screen and (max-width: 529px), screen and (max-device-width: 529px) {
  body {
    font-size: 0.5em;
    width: 320px;
  }
}
header {
  -webkit-transition: opacity 2s ease-in 0;
  -moz-transition: opacity 2s ease-in 0;
  -o-transition: opacity 2s ease-in 0;
  -ms-transition: opacity 2s ease-in 0;
  transition: opacity 2s ease-in 0;
  opacity: 0;
  text-align: center;
  color: #dfdfdf;
}
body.ready header {
  opacity: 1;
}
header h1 {
  font-size: 12em;
  letter-spacing: -0.02em;
}
header h2 {
  margin-top: -0.4em;
  font-size: 6em;
  letter-spacing: 0.9em;
  padding-left: 0.9em;
  text-shadow: 0px 0px 10px #dfdfdf;
}
header #ring {
  background-image: url('/images/ring.png');
  background-repeat: no-repeat;
}
#countdown {
  -webkit-transition: opacity 2s ease-in 1s;
  -moz-transition: opacity 2s ease-in 1s;
  -o-transition: opacity 2s ease-in 1s;
  -ms-transition: opacity 2s ease-in 1s;
  transition: opacity 2s ease-in 1s;
  opacity: 0;
  position: absolute;
  width: 640px;
  top: 335px;
  text-align: center;
  font-family: "helvetica", "Myriad Pro", "Lucida Grande", "helvetica", "sans-serif";
}
body.ready #countdown {
  opacity: 1;
}
@media only screen and (max-width: 529px), screen and (max-device-width: 529px) {
  #countdown {
    width: 320px;
  }
}
@media only screen and (max-width: 529px), screen and (max-device-width: 529px)  and (orientation : landscape) {
  #countdown {
    bottom: 50px;
  }
}
#countdown #days.item h3 {
  font-size: 6em;
}
#countdown #days.item h5 {
  margin-top: -0.4em;
  font-size: 2em;
}
#countdown #countdown_row {
  margin-top: 20px;
  color: #606060;
}
#countdown #countdown_row .item {
  display: inline-block;
  padding-right: 10px;
}
#countdown #countdown_row .item h3 {
  font-size: 2.4000000000000004em;
}
#countdown #countdown_row .item h5 {
  margin-top: -0.4em;
  font-size: 0.8em;
}
#countdown #countdown_row .item:last-of-type {
  padding-right: 0px;
}
