{{>header}}

<section id="error_page">
	<div class="container">

		<h1>Page not found</h1>

		<h2>{{url}}</h2>

		<p>
			"Always remember, Frodo, the Ring is trying to get back to its master. It wants to be found." - <strong>Gandalf</strong>
		</p>

		<p>
			Unfortunately this page has not master.
		</p>
	</div>
</section>

{{>footer}}