{{>header}}
<section id="landing">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Full On - Lord of the Rings</h1>

				<div>Video</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				Register Now
			</div>
			<div class="col-sm-6">
				Something else
			</div>
		</div>
	</div>
</section>

{{>footer}}