<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Full On 2013</title>
	<meta name="description" content="St Philips Eastwood Anglican Church: annual youth camp - full on">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


	<link rel="stylesheet" href="/public/css/build.css">
</head>
<body>


<section class="container">

	<!--text-->
	<div class="form-group">
		<label class="control-label" for="name">name</label>
		<input class="form-control" type="text" id="name" name="name">
	</div>

	<p class="help-block">Example block-level help text here.</p>

	<!--checkbox-->
	<div class="form-group">
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Option one is this and that&mdash;be sure to include why it's great
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				Option two can be something else and selecting it will deselect option one
			</label>
		</div>
	</div>

	<!--select-->
	<div class="form-group">
		<label class="control-label" for="numbers">Numbers</label>
		<select name="numbers" class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</div>


</section>


<!-- CDN resources -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/public/js/lib/jquery.min.js"><\/script>')</script>

<!-- library files -->
<script src="/public/js/lib/lib.js"></script>

<!-- application -->
<script src="/public/js/module.js"></script>
<script>
	Backbone.history.start({pushState: true});
</script>


</body>
</html>