{{>header}}
<div id="register_nav">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="camper_type_flag"></div>
				<h6 class="camper_type">Leader</h6>
			</div>

			<nav>
				<div class="col-md-1">
					<a href="#">1</a>
				</div>
				<div class="col-md-1">
					<a href="#">2</a>
				</div>
				<div class="col-md-1">
					<a href="#">3</a>
				</div>
			</nav>
		</div>
	</div>
</div>
<section id="allegiance">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h3>Choose Your</h3>

				<h2>Allegiance</h2>

				<div class="row">
					<div class="col-md-4">
						<div class="flag">
							<img src="/public/images/flags/junior.png"/>
							<h4>Junior</h4>
							<p>Year 6-8</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="flag">
							<img src="/public/images/flags/senior.png"/>

							<h4>Senior</h4>

							<p>Years 9-12</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="flag">
							<img src="/public/images/flags/leader.png"/>

							<h4>Leader</h4>

							<p>The Masters</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>

{{>footer}}