.camp_fee, .camp_fee_total {
	font-size: @fo-money-font-size;
}

#register_form {
	section {
		//display: none;
	}

	.navigation .btn {
		margin-left: 10px;
		margin-right: 10px;
	}

	.help-block {
		font-size: 85%;
	}

	.form-group {
		margin-bottom: 30px; // standard: 15px;

		.required {
			&:before {
				content: '*';
				padding-right: 2px;
				color: @brand-danger;
			}
		}

	}

	.navigation {
		text-align: center;

		.navigation_cant_continue {
			color: @brand-danger;
		}
	}
}