#register_nav {

	.light();
	.box-shadow(none);
	background-color: @gray-lighter;

	@height: (@navbar-height + 20px); //36 + 20

	line-height: @height;
	margin-top: @navbar-height;

	//original dimensions: 110/153
	@original_width: 110px;
	@original_height: 153px;
	@ratio: (@original_height / @original_width);

	@banner_height: (@height + 30px); //some overlap;
	@banner_width: (@banner_height / @ratio);

	.camper_type_flag {
		position: absolute;
		background-repeat: no-repeat;
		height: @banner_height;
		width: @banner_width;
		background-size: @banner_width @banner_height;
		z-index: @fo-zindex-flag;

		&_junior {
			background-image: url('/public/images/flags/junior-no-pole.png');
		}
		&_senior {
			background-image: url('/public/images/flags/senior-no-pole.png');
		}
		&_leader {
			background-image: url('/public/images/flags/leader-no-pole.png');
		}

	}

	.camper_type_label {
		margin-left: (@banner_width + 5px);
		font-size: 30px;
		margin-bottom: 0;
	}

	nav {
		a {
			background-color: darken(@fo-color-background-light, 10%);
			line-height: @height;
			display: block;
			text-align: center;

			//			&:after {
			//							background-image: url('/public/images/arrow.png');
			//							background-repeat: no-repeat;
			//							background-size: contain;
			//							background-position: right top;
			//				content: '';
			//				position: absolute;
			//				height: @height;
			//				right: 0;
			//				margin-right: (@grid-gutter-width / 2);
			//				width: 10px;
			//				background-color: blue;
			//			}
		}

	}
}
