#landing {
	background-image: url('/public/images/frodo2.jpg');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0px 0px;
	padding-bottom: 0;

	//everything less than md has no background image
	@media (max-width: @screen-md-min) {
		background-image: none;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		letter-spacing: -3px;
	}

	// Lord of the Rings
	h1 {
		// push content down for heading
		//margin-top: 50px;

		img {
			width: 370px;
			.center-block();
		}
	}

	.fo_badge {
		.fo_badge_generator(100px);
		.rotate(14deg);

		padding-top: 2px;
		margin-top: 10px;

		//everything less than md has no background image
		@media (max-width: @screen-md-min) {
			.center-block();
			margin-bottom: 20px;
		}

		.fo_badge_row1 {
			font-family: @fo_font_header;
			margin-top: 7px;
			font-size: 15px;
			letter-spacing: -1px;
		}

		// early bird title
		.fo_badge_row2 {
			padding-top: 7px;
			font-family: @fo-font-cursive;
			font-size: 16px;
			margin: 0;
			margin-top: -16px;
			letter-spacing: 0px;
		}

		// days
		.fo_badge_row3 {
			font-family: @fo_font_header;
			line-height: 35px;
			font-size: 35px;
		}
		// to go
		.fo_badge_row4 {
			font-family: @fo_font_header;
			line-height: @font-size-base; //14px
			font-size: @font-size-base;
			margin-top: -3px;
		}

	}

	#early_bird {
		.rotate(14deg);
		.fo_badge_generator(100px);

		padding-top: 2px;
		margin-top: 10px;

		//everything less than md has no background image
		@media (max-width: @screen-md-min) {
			.center-block();
			margin-bottom: 20px;
		}

		.discount {
			font-family: @fo_font_header;
			margin-top: 7px;
			font-size: 15px;
			letter-spacing: -1px;
		}

		// early bird title
		.early_bird_title {
			padding-top: 7px;
			font-family: @fo-font-cursive;
			font-size: 16px;
			margin: 0;
			margin-top: -11px;
			letter-spacing: 0px;
		}

		.days {
			font-family: @fo_font_header;
			line-height: 35px;
			font-size: 35px;
		}

		.day_to_go {
			font-family: @fo_font_header;
			line-height: @font-size-base; //14px
			font-size: @font-size-base;
			margin-top: -3px;
		}

	}

	// One camp to rule them all
	h2 {

		font-size: @fo-index-base-font-size;
		margin-top: 0px;

		em {
			font-style: normal;
			color: lighten(@fo-colour-white, 30%);
		}

		// make the two lines of text closer together
		@media (max-width: @screen-md-max) {
			line-height: (@fo-index-base-font-size - 12px);
		}

	}

	#landing_flag_box {
		position: relative;

		img {
			width: 75px;
			top: 0;
			position: absolute;
			left: 50%;
			margin-top: -15px;

			// don't show on small devices
			@media (max-width: @screen-md-min) {
				display: none;
			}

			&.junior_flag {
				margin-left: -180px;
			}

			&.senior_flag {
				margin-left: 110px;
			}
		}
	}

	// date
	h3 {
		font-size: @fo-index-base-font-size;
		text-shadow: 0px 0px 20px lighten(@fo-colour-white, 10%);
		margin-top: 16px;
	}

	// days to go
	h4 {
		font-size: 48px;
		margin-top: -28px;
	}
}