#media {
	background-image: url('/public/images/gandalf-small.jpg');
	background-color: @fullon-color-background-black;
	background-repeat: no-repeat;
	background-position: 100% 0px;

	//everything less than md has no background image
	@media (max-width: @screen-md-min) {
		background-image: none;
	}

	//todo remove
	min-height: 500px;

	h3, h4, h5, h6 {
		font-family: @font-family-base;
	}
}