{{#each options}}
	<div class="radio">
		<label>
			<input type="radio" name="{{../name}}" value="{{value}}"
				{{#if ../hidden}} hidden="true"{{/if}}
				{{#if_equal value ../_default}} checked="checked" {{/if_equal}}
				{{#if ../disabled}} disabled="disabled" {{/if}}
					/>
			{{text}}
		</label>
	</div>
{{/each}}