<div class="input-group">
	<span class="input-group-addon">$</span>
	<input name="{{name}}" type="text" class="form-control"
			{{#if _default}} value="{{_default}}" {{/if}}
	/>
	<span class="input-group-addon">.00</span>
</div>