<input name="address_street" type="text" class="form-control">
<label for="address_street">Street</label>

<div class="row">
	<div class="col-xs-8">

		<input name="address_city" type="text" class="form-control">
		<label for="address_city">City</label>
	</div>
	<div class="col-xs-4">
		<input name="address_postcode" type="text" class="form-control">
		<label for="address_postcode">Postcode</label>
	</div>
</div>
