<div class="navigation">
	<button class="reg_nav_button btn btn-lg" {{#unless back}} disabled="disabled" {{/unless}} data-action="back" data-location="{{back}}">Back</button>
	<button class="reg_nav_button btn btn-primary btn-lg" disabled="disabled" data-action="next" data-location="{{next}}">Next</button>
</div>