<div class="navigation">
	<p class="navigation_cant_continue hide">
		<small>You cannot continue until all of the fields in this section are valid</small>
	</p>
	<a href="#" class="reg_nav_button btn btn-lg" data-action="back">Back</a>

	<a href="#" class="reg_nav_button btn btn-primary btn-lg" data-action="next">{{#if submit}}Submit{{else}}Next{{/if}}</a>
</div>